registry = https://registry.npmmirror.com
# registry = http://mirrors.cloud.tencent.com/npm/
# registry = https://registry.npmjs.org/

# 严格版本依赖警告
strict-peer-dependencies = false

# pnpm install 是否忽略默认安装到root根目录
# ignore-workspace-root-check = true

# "羞耻提升"相关配置(是否将 .pnpm 目录里的全部依赖拉平到 node_modules 文件夹下)
shamefully-hoist = true
